<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="div-chim">
      <img class="hinh-chim" src="images/1.png" />
      <div>Chim đỏ</div>
      <div>100.000 VNĐ</div>
    </div>
  </body>
</html>
